@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: rgb(43, 42, 42);
  --color-goldenrod: #ffb400;
  --color-charcoal: #252525;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --charcoal: #252525;
    --goldenrod: #ffb400;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
